.editform{
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 300px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.editform input[type="text"],input[type="password"],input[type="date"]{
    height: 30px;
    width: 50%;
    /* border: 1px solid gray; */
}
.editform input[type="submit"]{
    padding: 5px 10px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 10px;
}
.editform input[type="submit"]:hover{
    background-color: white;
    color: brown;
    cursor: pointer;
    font-weight: bold;
}